# виртуальное окружение
venv/
.env

# Python
__pycache__/
*.py[cod]
*.log
*.patch
.pytest_cache/
.coverage
htmlcov/

# IDE
.vscode/
.idea/

database/*.db
database/*.db-shm
database/*.db-wal
database/*.db-journal
database/logs/
out/*.json
*.ipynb_checkpoints/
.mypy_cache/
.ruff_cache/
__pycache__/
drivers/
database/logs/          # Логи категоризатора
*.patch                 # Патчи
.pytest_cache/          # Pytest артефакты
*.db-journal            # SQLite журналы